:root {
  --primary-light: #d079d9;
  --primary: #bc40c8;
  --primary-dark: #971ca7;

  --primary-light-rgb: 208, 121, 217;
  --primary-rgb: 188, 64, 200;
  --primary-dark-rgb: 151, 28, 167;

  --white: #fff;

  --gray-light: #e9e7e9;
  --gray: #c9c4c9;
  --gray-dark: #a59da5;

  --background: #ffffff;
  --on-background: #0f0b0f;

  --radius: 8px;

  --font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[data-theme='dark'] {
  --background: #0f0b0f;
  --on-background: #ffffff;
}
